@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@keyframes slideInFromLeft {
	0% {
	  transform: translateX(-100%);
	}
	80% {
	  transform: translateX(10%);
	}
  }
header
{
height:40px;
text-align:center;
}

body
{
animation: 1s ease-out 0s 1 slideInFromLeft;
background: #8186d5;
/* font-family:"open sans",sans-serif; */
font-family: "Varela Round";
}

table
{

margin:auto;
text-align:left;
}

.bottom-one 
{
margin-bottom: 1cm;
}

#new
{
max-width:390px;
margin:auto;
text-align:left;
}

#submit
{
min-width:400px;
max-width:30%;
margin:auto;
}
